.signup {
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url('https://imgs.search.brave.com/eEr9ZeB1HavuA3OX6rvJl8rd4DbmfYyLtowChLYkOJ4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9jb2xvci1ncmFk/aWVudC1ibHVyLWJh/Y2tncm91bmRfMzQz/NzMyLTgwNzEuanBn/P3NlbXQ9YWlzX2h5/YnJpZA');
    background-size: cover;
    flex: 1;

}

.form{
    background-color: #fff;
    padding: 30px;
    border: 1px solid black;
    border-radius: 1px;
}

.signUpLogo{
    width: 200px;
    height: 100px;
    object-fit: contain;
    padding: 10px 0px;
}

.loginPara{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}

input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form > div{
    width: 80%;
    margin: auto;
}

#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top:8px;
}

.form2{
    background-color: #fff;
    padding: 30px;
    margin-top: 5px;
    border: 1px solid rgb(129,121,121);
    border-radius: 1px;
}